/*for mobile*/
@media only screen and (max-width:760px) {
.logo{display:block; margin:10px auto;}
.accept_icon_bg {margin-top: 0px;}
.accept_box { margin-top: 20px;}
#three_section{padding:20px 0px;}
.account_container {position:static; width:100%;}
#about_us_section .bg {background-position: 9px 200px;}
.affix{position:static !important;}
.login_container{margin-top:0px;}
.login_container h1 { margin-top: 15px;}
.menu_shadow {display:none;}
.brif_textbackground {width:100%; border-radius: 0px 0px 5px 5px;}
.brif_background {width:100%; border-radius: 5px 5px 0px 0px;}
.top_para_text {margin:2px;}
.menu_section p { margin: 9px 10px 0px 10px !important;}
.logo_text {width: 58px;}

}
/*for medium mobile*/
@media only screen and (min-width:480px) and (max-width:760px) {


}
/*for tablet*/
@media only screen and (min-width:760px) and (max-width:1024px) {
.logo{display:block; margin:10px auto;}
.account_container {position:static; width:100%;}
}

/*for destop*/
@media (min-width: 1200px){

 }




